html{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    pointer-events: none;
}
.section{
    margin:0;
    padding:0;

}
.container{
    margin: auto;
    width:100%;

}

.clearfix{
  overflow: auto;
}
/* NEWS AND WEATHER */
.news-img{
  width: 50px;
  height: 50px;
  float: left;
  padding-right: 5px;
}

.news-data{
  clear: left;
  padding: 5px;
}

.news-Wrapper{
    margin: auto;
    width:100%;
    border: 1px solid #888;
    /* box-shadow: 0 5px 40px 2px rgba(155,155,155,1); */
    max-height: 150px;
    overflow-y: auto;
}

.weather-wrapper{
    margin: auto;
    width:100%;
    height: 150px;
    border: 1px solid #888;
    /* box-shadow: 0 5px 40px 2px rgba(155,155,155,1); */
    font-size: 15px;
}
.weather-wrapper p{
    margin-bottom: .25em;
}
.top{
    border-bottom: 2px solid #666;
}
#welcome{
    padding-top: 15px;

}

/* FONT STYLES */
.primary-text{
    color:#56a79a;
}
.primary-bg{
    background:#56a79a;
}
.center{

    display: block;
    width:50px;
}
/* HEADER */

#main-header{
    border-bottom: #56a79a 1px solid;
}
/* NAVBAR */
#navbar{
    text-transform: uppercase;

}
#navbar li{
    display: inline;
    padding-right: 20px;
    list-style: none;
}
#navbar a{
    text-decoration: none;
    color:#888;
}
#navbar li.current a, #navbar{
color:#56a79a;
padding-bottom: 3px;
}
#navbar a:hover { color: #4aaaa5; }
#navbar a:active { color: #4aaaa5; }
/* Sidebar*/

#sidebar{
    margin:0;
    margin-top:25px;
    width:100%;
    border: 3px #4aaaa5 solid;
    background: #666666;;
    color:#FFF;
    font-size: 18px;
    border-radius: 15px 50px 30px;
    text-align: center;
    box-shadow: 5px 5px #4aaaa5;
    text-shadow: 2px 1px #111;

}
#sidebar li{
    list-style: none;
    padding-bottom: 10px;
    padding-top:25px;
    padding-right: 20px;
    font-size:25px;
}
 #sidebar li a, #navbar{
    color:#fff;
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.46875rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

#sidebar a:hover {
    color: pink;
}

#sidebar a:active {
    color: yellow;
}


/* MAINCONTENT */
.mainContent{
    text-align: center;
    margin:30px 30px 0px 30px;
    background: #fff;
    color: #333;
    border: 1px solid #444;
    width: calc(100% - 260px);
    min-height: calc(70vh - 50px);
    position: relative;
    float: right;
    transition: 0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1);
    box-shadow: 0 5px 40px 2px rgba(155,155,155,1);

}
.card-body{
    padding: .5rem;
}
/* Footer */
#main-footer{
        position: fixed;
        bottom: 0;
        left: 0;
        border-top: 5px  #4aaaa5 solid;
        background: #666666;
        text-align: center;
        color: white;
        font-size: 20px;
        width: 100%;
}
#footerText{
    margin-top: 10px;
}
.weather-info{
    text-align: center;
}
.weather-condition{
    width: 45px;
    height: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* TICKETMASTER */
.ticketmaster-wrapper{
    margin-top: 15px;
    margin: 5px;
    text-align: left;
}

#ticketmaster-name-div {
    float: left;
    overflow-wrap: normal;
}

#ticketmaster-date-and-venue-wrapper-div {
    float: right;
    width: 200px;
    overflow-wrap: normal;
}

#ticketmaster-date-div {
   /* float: left;*/
   color: silver;
   text-align: left;
}

#ticektmaster-venue-div {
    /* float: right; */
    color: silver;
    text-align: left;
}

#ticketmastersearch {
    margin-bottom: 15px;
}

#map{
  width: 100%;
  height: 530px;
}

/* MEDIA QUERRIES */
@media (min-width: 1900px){

    .container {
         max-width: 1600px;
    }
    .mainContent{
        margin-right: 50px;

    }
    #sidebar{
        margin-left: 80px;
    }
}
.weather-wrapper{
    margin-bottom: 0;
}

#sidebar li{
    list-style: none;
    padding-bottom: 5px;
    padding-top:5px;
    padding-right: 5px;
    font-size:15px;
}

.mainContent{
text-align: left;
margin-top: 25px;
clear: both;

}

.splash{
    z-index: 99;
    font-size: 100px;
    position: absolute;
    top: calc(50% - 50px);
    left:calc(50% - 350px);
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
}
.splash #splash-dash{
    color:#56a79a;
}
.b{
    display: none;
}
@media (max-width: 1278px){
    .weather-wrapper{
        font-size: 14px;
        width: 100%;
    }
    body{
        line-height: 1.1;
    }

     .weather-wrapper{
        margin-bottom: 0;
        display: grid;
        line-height: .5em;
        justify-items: center;
        grid-template-rows: repeat(4, 100px);
        grid-template-columns: 100%;
        overflow-y: scroll;
    } 
    .weather-card{
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }
    .weather-wrapper{
        margin-bottom: 0;
    }

    #sidebar li{
        list-style: none;
        padding-bottom: 5px;
        padding-top:5px;
        padding-right: 5px;
        font-size:15px;
    }

    .mainContent{
    text-align: left;

    margin-top: 25px;
    clear: both;

    }


}
@media (max-width: 768px) {
body{
        line-height: 1.1;
        font-size: 17px;
    }

    .weather-condition{
        width: 30px;
        height: 30px;
    }

    .weather-wrapper{
        margin-bottom: 0;
        display: grid;
        line-height: .5em;
        justify-items: center;
        grid-template-rows: repeat(4, 100px);
        grid-template-columns: 100%;
        overflow-y: scroll;
    }
    .weather-card{
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(4 1fr);
        grid-template-rows: auto;
    }
    .mainContent{
        text-align: left;
        margin-top: 25px;
        clear: both;
    
        }
}

@media (max-width: 576px){
   body{
       line-height: 1.1;
       font-size: 17px;
   }
    .weather-wrapper{
        margin-bottom: 0;
    }
    .weather-condition{
        width: 30px;
        height: 30px;
    }
    #sidebar li{
        list-style: none;
        padding-bottom: 5px;
        padding-top:5px;
        font-size:15px;
    }

    .mainContent{
    text-align: left;
    margin: 0;
    clear: both;

    }
}
